/* @import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

* {
  font-family: 'Source Code Pro', monospace;
}

body {
  margin: 0;
  padding: 0;
}

#intro {
  width: 100%;
  min-height: 500px;
  height: auto;
  overflow: hidden;
  background-color: #000;
  color: #a6a6a6;
  text-align: center;
  padding: 15% 0;
}

#greeting, #myname, #profession {
  line-height: 1.5;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 70px;
}

li {
  display: inline;
}

li a {
  padding: 10px;
  color: #a6a6a6;
}

li a:hover {
  text-decoration: none;
  color: #fff;
}

li a i {
  font-size: 28px;
}

/* colors */
.my-blue {
  color: #2196F3;
}